@model List<Amar_Pharmacy1.Models.Billing>

@{
    ViewBag.Title = "Delete Billing";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Billing</title>
</head>
<body background="~/Content/304896049_600128658279180_102818864862598403_n1.png">
    <div>
        <div class="container-fluid">
            <div class="row">

            </div>

            <div class="mt-5">
                <div class="col-md-1">

                </div>


                <div class="row">
                    <div class="col-6">
                        <form action="/Admin/DeleteBilling" method="post">
                            <b>Medicine Name</b><p>
                                <input type="text" class="form-control" placeholder="Medicine Name" name="MedName">

                                @*  @Html.ValidationMessage("MedName", "", new { @class = "text-danger" })*@


                            </p>

                            <input type="submit" value="Delete" class="btn btn-primary ">


                        </form>
                        @* <div class="row">
                                <div class="col d-grid ">
                                    <button id="EditBtn" type="button" class="btn btn-success" style="padding:5px 10px;">Edit</button>

                                </div>

                                <div class="col d-grid">
                                    <button id="DeleteBtn" type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </div>*@
                    </div>


                </div>


            </div>


        </div>

    </div>

</body>
</html>


