@{
    ViewBag.Title = "Login";

}

<body style="background-color:#d4adf0">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><b>  Email address</b></label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email">
            

            <div id="emailHelp" class="form-text"> We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><b> Password</b> </label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <b> @Html.ActionLink("Seller", "Loginse", "Home") </b>
        </div>
        <button type="submit" style="background-color:darkgray" class="btn btn-primary ">
            <b> @Html.ActionLink("Submit", "Medicine", "Admin") </b>
        </button>
    </form>
</body>

 


 


 
